{% extends 'base_template.html' %}
{% load i18n static %}

{% block content %}
{% if not user.is_authenticated %}
	<div>
		<h1>Sign up</h1>
		<h2>Please enter your username and your password</h2>
	</div>

    <div id="signup">
        <p>Already have an account?
			<button onClick="window.location.href='../sign-in'">Sign in</button></p>
        <label for="username">{% trans "Username" %}</label>
        <input type="text" id="username_signup" name="username" value=""/>
        <br/>
        <label for="password1">{% trans "Password" %}</label>
        <input type="password" id="password1" name="password1" value=""/>
        <br/>
        <label for="password2">{% trans "Password(again)" %}</label>
        <input type="password" id="password2" name="password2" value=""/>
        <br/>
        <label for="birthDate">{% trans " Birth date" %}</label>
        <input type="datetime-local" id="birthDate" name="birthDate" value=""/>
        <br/>
        <label for="gender">{% trans "Gender" %}</label>
        <input type="text" id="gender" name="gender" value=""/>
        <br/>
        <input type="submit" value="{% trans "Sign up" %}" onClick="signUp()"/>
    </div>
  {% endif %}
{% endblock %}

{% block extrabody %}
	 <script>
     

        var token = null;
        var user = null;

        function postData(url, data) {
          // Default options are marked with *
          var fdata = {
            body: JSON.stringify(data),
            headers: {
              'content-type': 'application/json',
            },
            method: 'POST',
          };

          if (token) {
              fdata.headers['Authorization'] = 'Token ' + token;
          }

          return fetch(url, fdata)
          .then(response => {
            if (response.status === 200 || response.status === 201) {
                return response.json();
            } else {
                return Promise.reject(response.statusText);
            }
          });
        }

       

        function decideUser() {
            var data = { token: token };
            postData("{{auth_url}}" + "/authentication/getuser/", data)
              .then(data => {
                user = data;
              }).catch(error => {
                alert("Error:" + error);
              });
        }

        

        function signUp() {
            var data = {
                username: document.querySelector("#username_signup").value,
                password1: document.querySelector("#password1").value,
                password2: document.querySelector("#password2").value,
                birthdate: document.querySelector("#birthDate").value,
                gender: document.querySelector("#gender").value
            };
            postData("{{auth_url}}" + "/authentication/signup/", data)
              .then(data => {
                document.cookie = 'decide='+data.key+'; path=/';
                token = data.key;
                decideUser();
                window.location.replace("/");
              })
              .catch(error => {
                alert("Error:" + error);
                console.error(error);
              });
        }

   

        function init() {

            var cookies = document.cookie.split("; ");
            cookies.forEach((c) => {
                var cs = c.split("=");
                if (cs[0] == 'decide' && cs[1]) {
                    token = cs[1];
                    decideUser();
                }
            });
        }

        init();
    </script>
</body>
{% endblock %}

